<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="display: flex; flex-direction: row;">
    <p>user:</p>
    <p sec:authentication="principal.username">login</p>
</div>
<a th:href="@{/show/all}">all</a>
<div sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/add}">add</a>
</div>
<a th:href="@{/logout}">logout</a>

<div>
    <span>Find all heavier then</span>
    <form th:method="GET" th:action="@{/show/all/heavier}">
        <div>
            <input type="number" th:required="required" name="weight" id="weight"/>
            <input type="submit" value="Find"/>
        </div>
    </form>
</div>
</body>
</html>